<a href="https://colab.research.google.com/github/hatyato/hangman/blob/master/%E8%AB%8B%E6%B1%82%E6%9B%B8%E3%81%BE%E3%81%A8%E3%82%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from glob import glob

In [ ]:
filepaths = glob('/content/請求書_*月_*.xlsx')
filepaths

['/content/請求書_12月_STR_Corp.xlsx',
 '/content/請求書_12月_株式会社ABC.xlsx',
 '/content/請求書_12月_CDF商事.xlsx',
 '/content/請求書_12月_TTTInc.xlsx',
 '/content/請求書_11月_XYZ株式会社.xlsx',
 '/content/請求書_11月_ICHIGO.xlsx',
 '/content/請求書_10月_TTTInc.xlsx']

In [ ]:
filepath = filepaths[0]

In [ ]:
filepath

'/content/請求書_12月_STR_Corp.xlsx'

In [ ]:
_df = pd.read_excel(filepath)

In [ ]:
_df

                 請求書           Unnamed: 1  ... Unnamed: 17  Unnamed: 18
0                NaN                  NaN  ...         NaN          NaN
1                NaN                  NaN  ...         NaN          NaN
2          STR Corp.                  NaN  ...         NaN          NaN
3                NaN                  NaN  ...         NaN          0.1
4                NaN                  NaN  ...         NaN          NaN
5                NaN                  NaN  ...         NaN          NaN
6                NaN                  NaN  ...         NaN          NaN
7              税込み金額                  NaN  ...         NaN          NaN
8   下記の通り、ご請求申し上げます。                  NaN  ...         NaN          NaN
9                NaN                  NaN  ...         NaN          NaN
10               No.                   日付  ...         NaN          NaN
11                 1  2020-12-08 00:00:00  ...         NaN          NaN
12                 2  2020-12-09 00:00:00  ...         NaN          NaN
13                 3  2020-12-17 00:00:00  ...         NaN          NaN
14                 4  2020-12-17 00:00:00  ...         NaN          NaN
15                 5  2020-12-20 00:00:00  ...         NaN          NaN
16                 6  2020-12-28 00:00:00  ...         NaN          NaN
17                 7  2020-12-28 00:00:00  ...         NaN          NaN
18                 8  2020-12-28 00:00:00  ...         NaN          NaN
19                 9  2020-12-28 00:00:00  ...         NaN          NaN
20                10                  NaN  ...         NaN          NaN
21                11                  NaN  ...         NaN          NaN
22                12                  NaN  ...         NaN          NaN
23               NaN                  NaN  ...         NaN          NaN
24               NaN                  NaN  ...         NaN          NaN
25               NaN                  NaN  ...         NaN          NaN
26               NaN                  NaN  ...         NaN          NaN
27               NaN                  NaN  ...         NaN          NaN
28               NaN                  NaN  ...         NaN          NaN
29               NaN                  NaN  ...         NaN          NaN
30               NaN                  NaN  ...         NaN          NaN
31               NaN                  NaN  ...         NaN          NaN
32               NaN                  NaN  ...         NaN          NaN

[33 rows x 19 columns]

In [ ]:
columns = _df.iloc[10, [1,2,4,10,11,14]]
columns

Unnamed: 1                 日付
Unnamed: 2              商品コード
Unnamed: 4                 品名
Unnamed: 10      数量[L] or [-]
Unnamed: 11    単価[¥/L] or [¥]
Unnamed: 14                金額
Name: 10, dtype: object

In [ ]:
df = _df.iloc[11:23, [1,2,4,10,11,14]]

In [ ]:
df.columns = columns
df

10                   日付    商品コード     品名 数量[L] or [-] 単価[¥/L] or [¥]     金額
11  2020-12-08 00:00:00  GSL0001  レギュラー           20            120   2400
12  2020-12-09 00:00:00  GSL0002   ハイオク           45            160   7200
13  2020-12-17 00:00:00  GSL0001  レギュラー           20            120   2400
14  2020-12-17 00:00:00  GSL0004     灯油           30             80   2400
15  2020-12-20 00:00:00  GSL0001  レギュラー           20            120   2400
16  2020-12-28 00:00:00  CMT0002   洗車 B            1           1500   1500
17  2020-12-28 00:00:00  GDS0003   スナック           10            100   1000
18  2020-12-28 00:00:00  CMT0005  タイヤ交換            1           4000   4000
19  2020-12-28 00:00:00  GDS0001    タイヤ            4           8000  32000
20                  NaN      NaN    NaN          NaN            NaN      0
21                  NaN      NaN    NaN          NaN            NaN      0
22                  NaN      NaN    NaN          NaN            NaN      0

In [ ]:
_df.iloc[2, 0]

'STR Corp.'

In [ ]:
df['企業名'] = _df.iloc[2, 0]

In [ ]:
df

10                   日付    商品コード     品名  ... 単価[¥/L] or [¥]     金額        企業名
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...            120   2400  STR Corp.
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...            160   7200  STR Corp.
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...            120   2400  STR Corp.
14  2020-12-17 00:00:00  GSL0004     灯油  ...             80   2400  STR Corp.
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...            120   2400  STR Corp.
16  2020-12-28 00:00:00  CMT0002   洗車 B  ...           1500   1500  STR Corp.
17  2020-12-28 00:00:00  GDS0003   スナック  ...            100   1000  STR Corp.
18  2020-12-28 00:00:00  CMT0005  タイヤ交換  ...           4000   4000  STR Corp.
19  2020-12-28 00:00:00  GDS0001    タイヤ  ...           8000  32000  STR Corp.
20                  NaN      NaN    NaN  ...            NaN      0  STR Corp.
21                  NaN      NaN    NaN  ...            NaN      0  STR Corp.
22                  NaN      NaN    NaN  ...            NaN      0  STR Corp.

[12 rows x 7 columns]

In [ ]:
df['企業コード'] = _df.iloc[3, 4]
df['請求書No'] = _df.iloc[2, 12]
df['発行日'] = _df.iloc[3, 12]
df['発行者'] = _df.iloc[4, 12]
df['発行者コード'] = _df.iloc[4, 13]

In [ ]:
df.head()

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0

[5 rows x 12 columns]

In [ ]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1,2,4,10,11,14]]
    df = _df.iloc[11:23, [1,2,4,10,11,14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2, 0]
    df['企業コード'] = _df.iloc[3, 4]
    df['請求書No'] = _df.iloc[2, 12]
    df['発行日'] = _df.iloc[3, 12]
    df['発行者'] = _df.iloc[4, 12]
    df['発行者コード'] = _df.iloc[4, 13]
    return df

In [ ]:
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
16  2020-12-28 00:00:00  CMT0002   洗車 B  ...  2020/12/28  桜田    5.0
17  2020-12-28 00:00:00  GDS0003   スナック  ...  2020/12/28  桜田    5.0
18  2020-12-28 00:00:00  CMT0005  タイヤ交換  ...  2020/12/28  桜田    5.0
19  2020-12-28 00:00:00  GDS0001    タイヤ  ...  2020/12/28  桜田    5.0
20                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0
21                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0
22                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0

[12 rows x 12 columns]

In [ ]:
extract(filepath)

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
16  2020-12-28 00:00:00  CMT0002   洗車 B  ...  2020/12/28  桜田    5.0
17  2020-12-28 00:00:00  GDS0003   スナック  ...  2020/12/28  桜田    5.0
18  2020-12-28 00:00:00  CMT0005  タイヤ交換  ...  2020/12/28  桜田    5.0
19  2020-12-28 00:00:00  GDS0001    タイヤ  ...  2020/12/28  桜田    5.0
20                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0
21                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0
22                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0

[12 rows x 12 columns]

In [ ]:
df = extract(filepath)
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
16  2020-12-28 00:00:00  CMT0002   洗車 B  ...  2020/12/28  桜田    5.0
17  2020-12-28 00:00:00  GDS0003   スナック  ...  2020/12/28  桜田    5.0
18  2020-12-28 00:00:00  CMT0005  タイヤ交換  ...  2020/12/28  桜田    5.0
19  2020-12-28 00:00:00  GDS0001    タイヤ  ...  2020/12/28  桜田    5.0
20                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0
21                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0
22                  NaN      NaN    NaN  ...  2020/12/28  桜田    5.0

[12 rows x 12 columns]

# 請求書の結合　 pd.concat()

In [ ]:
sample_1 = pd.DataFrame([[1,2,3],[4,5,6]])
sample_2 = pd.DataFrame([[-1,0,2],[8,4,9]])

In [ ]:
sample_2

   0  1  2
0 -1  0  2
1  8  4  9

In [ ]:
pd.concat([sample_1, sample_2])

   0  1  2
0  1  2  3
1  4  5  6
0 -1  0  2
1  8  4  9

In [ ]:
pd.concat([sample_1, sample_2], axis=1)

   0  1  2  0  1  2
0  1  2  3 -1  0  2
1  4  5  6  8  4  9

# データの集約

In [ ]:
df = pd.DataFrame()  #　空のデータフレームの作成

for filepath in filepaths:
    print(filepath)

/content/請求書_12月_STR_Corp.xlsx
/content/請求書_12月_株式会社ABC.xlsx
/content/請求書_12月_CDF商事.xlsx
/content/請求書_12月_TTTInc.xlsx
/content/請求書_11月_XYZ株式会社.xlsx
/content/請求書_11月_ICHIGO.xlsx
/content/請求書_10月_TTTInc.xlsx

In [ ]:
df = pd.DataFrame()  #　空のデータフレームの作成

for filepath in filepaths:
    print(filepath)
    _df = extract(filepath)
    df = pd.concat([df, _df])

/content/請求書_12月_STR_Corp.xlsx
/content/請求書_12月_株式会社ABC.xlsx
/content/請求書_12月_CDF商事.xlsx
/content/請求書_12月_TTTInc.xlsx
/content/請求書_11月_XYZ株式会社.xlsx
/content/請求書_11月_ICHIGO.xlsx
/content/請求書_10月_TTTInc.xlsx

In [ ]:
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
..                  ...      ...    ...  ...         ...  ..    ...
18  2020-10-11 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
19  2020-10-12 00:00:00  CMT0005  タイヤ交換  ...  2020/10/31  岸辺    2.0
20  2020-10-13 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
21  2020-10-14 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
22                  NaN      NaN    NaN  ...  2020/10/31  岸辺    2.0

[84 rows x 12 columns]

In [ ]:
df = df.dropna() # 欠損値の削除

In [ ]:
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
..                  ...      ...    ...  ...         ...  ..    ...
17  2020-10-10 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
18  2020-10-11 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
19  2020-10-12 00:00:00  CMT0005  タイヤ交換  ...  2020/10/31  岸辺    2.0
20  2020-10-13 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
21  2020-10-14 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0

[72 rows x 12 columns]

# カラム名の調整整理 並び替え

In [ ]:
df = df.iloc[:, [6,7,8,9,10,11,0,1,2,3,4,5]]

In [ ]:
df.to_excel('/content/output/all_data.xlsx', index=False)

In [ ]:
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
..                  ...      ...    ...  ...         ...  ..    ...
17  2020-10-10 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
18  2020-10-11 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
19  2020-10-12 00:00:00  CMT0005  タイヤ交換  ...  2020/10/31  岸辺    2.0
20  2020-10-13 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
21  2020-10-14 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0

[72 rows x 12 columns]

#売上一覧から集計表の作成

In [ ]:
import pandas as pd
from glob import glob

In [ ]:
glob('/content/ sources/請求書*.xlsx')

['/content/ sources/請求書_12月_STR_Corp.xlsx',
 '/content/ sources/請求書_12月_株式会社ABC.xlsx',
 '/content/ sources/請求書_12月_CDF商事.xlsx',
 '/content/ sources/請求書_12月_TTTInc.xlsx',
 '/content/ sources/請求書_11月_XYZ株式会社.xlsx',
 '/content/ sources/請求書_11月_ICHIGO.xlsx',
 '/content/ sources/請求書_10月_TTTInc.xlsx']

In [ ]:
filepaths = glob('/content/ sources/請求書*.xlsx')
filepaths

['/content/ sources/請求書_12月_STR_Corp.xlsx',
 '/content/ sources/請求書_12月_株式会社ABC.xlsx',
 '/content/ sources/請求書_12月_CDF商事.xlsx',
 '/content/ sources/請求書_12月_TTTInc.xlsx',
 '/content/ sources/請求書_11月_XYZ株式会社.xlsx',
 '/content/ sources/請求書_11月_ICHIGO.xlsx',
 '/content/ sources/請求書_10月_TTTInc.xlsx']

In [ ]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1,2,4,10,11,14]]
    df = _df.iloc[11:23, [1,2,4,10,11,14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2, 0]
    df['企業コード'] = _df.iloc[3, 4]
    df['請求書No'] = _df.iloc[2, 12]
    df['発行日'] = _df.iloc[3, 12]
    df['発行者'] = _df.iloc[4, 12]
    df['発行者コード'] = _df.iloc[4, 13]
    return df

In [ ]:
df = pd.DataFrame() #空のデータフレームを作成

for filepath in filepaths:
    df = pd.concat([df, extract(filepath)])

In [ ]:
df.head()

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0

[5 rows x 12 columns]

In [ ]:
len(df)

84

#売上データの整形

In [ ]:
df.tail()

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
18  2020-10-11 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
19  2020-10-12 00:00:00  CMT0005  タイヤ交換  ...  2020/10/31  岸辺    2.0
20  2020-10-13 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
21  2020-10-14 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
22                  NaN      NaN    NaN  ...  2020/10/31  岸辺    2.0

[5 rows x 12 columns]

In [ ]:
df = df.dropna()

In [ ]:
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
12  2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
13  2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
14  2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
15  2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
..                  ...      ...    ...  ...         ...  ..    ...
17  2020-10-10 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
18  2020-10-11 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
19  2020-10-12 00:00:00  CMT0005  タイヤ交換  ...  2020/10/31  岸辺    2.0
20  2020-10-13 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
21  2020-10-14 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0

[72 rows x 12 columns]

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
0   2020-12-08 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
1   2020-12-09 00:00:00  GSL0002   ハイオク  ...  2020/12/28  桜田    5.0
2   2020-12-17 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
3   2020-12-17 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
4   2020-12-20 00:00:00  GSL0001  レギュラー  ...  2020/12/28  桜田    5.0
..                  ...      ...    ...  ...         ...  ..    ...
67  2020-10-10 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
68  2020-10-11 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
69  2020-10-12 00:00:00  CMT0005  タイヤ交換  ...  2020/10/31  岸辺    2.0
70  2020-10-13 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
71  2020-10-14 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0

[72 rows x 12 columns]

In [ ]:
df = df.iloc[:, [6,7,8,9,10,11,0,1,2,3,4,5]]

In [ ]:
df

10        企業名  企業コード 請求書No         発行日  ...     品名  数量[L] or [-] 単価[¥/L] or [¥]    金額
0   STR Corp.      9   003  2020/12/28  ...  レギュラー            20            120  2400
1   STR Corp.      9   003  2020/12/28  ...   ハイオク            45            160  7200
2   STR Corp.      9   003  2020/12/28  ...  レギュラー            20            120  2400
3   STR Corp.      9   003  2020/12/28  ...     灯油            30             80  2400
4   STR Corp.      9   003  2020/12/28  ...  レギュラー            20            120  2400
..        ...    ...   ...         ...  ...    ...           ...            ...   ...
67   TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
68   TTT Inc.      6   012  2020/10/31  ...   ハイオク            40            160  6400
69   TTT Inc.      6   012  2020/10/31  ...  タイヤ交換             1           4000  4000
70   TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
71   TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000

[72 rows x 12 columns]

##集計データの出力

In [ ]:
df.to_excel('/content/output/all_data_02.xlsx', index=False)

In [ ]:
df

10        企業名  企業コード 請求書No         発行日  ...     品名  数量[L] or [-] 単価[¥/L] or [¥]    金額
0   STR Corp.      9   003  2020/12/28  ...  レギュラー            20            120  2400
1   STR Corp.      9   003  2020/12/28  ...   ハイオク            45            160  7200
2   STR Corp.      9   003  2020/12/28  ...  レギュラー            20            120  2400
3   STR Corp.      9   003  2020/12/28  ...     灯油            30             80  2400
4   STR Corp.      9   003  2020/12/28  ...  レギュラー            20            120  2400
..        ...    ...   ...         ...  ...    ...           ...            ...   ...
67   TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
68   TTT Inc.      6   012  2020/10/31  ...   ハイオク            40            160  6400
69   TTT Inc.      6   012  2020/10/31  ...  タイヤ交換             1           4000  4000
70   TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
71   TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000

[72 rows x 12 columns]

##担当者のリストの作成

In [ ]:
members = df['発行者'].unique()

In [ ]:
member = members[0]
member

'桜田'

In [ ]:
df['発行者'].unique()

array(['桜田', '岸辺', '山岡'], dtype=object)

In [ ]:
members = df['発行者'].unique()
member = members[0]
member

'桜田'

In [ ]:
df['発行者']

0     桜田
1     桜田
2     桜田
3     桜田
4     桜田
      ..
67    岸辺
68    岸辺
69    岸辺
70    岸辺
71    岸辺
Name: 発行者, Length: 72, dtype: object

In [ ]:
_df = df[df['発行者'] == member]
_df

10        企業名  企業コード 請求書No  ... 数量[L] or [-] 単価[¥/L] or [¥]     金額
0   STR Corp.      9   003  ...           20            120   2400
1   STR Corp.      9   003  ...           45            160   7200
2   STR Corp.      9   003  ...           20            120   2400
3   STR Corp.      9   003  ...           30             80   2400
4   STR Corp.      9   003  ...           20            120   2400
5   STR Corp.      9   003  ...            1           1500   1500
6   STR Corp.      9   003  ...           10            100   1000
7   STR Corp.      9   003  ...            1           4000   4000
8   STR Corp.      9   003  ...            4           8000  32000
9     株式会社ABC      1   003  ...           20            120   2400
10    株式会社ABC      1   003  ...           45            160   7200
11    株式会社ABC      1   003  ...           50            100   5000
12    株式会社ABC      1   003  ...           30             80   2400
13    株式会社ABC      1   003  ...            1            500    500
14    株式会社ABC      1   003  ...            1           1500   1500
15    株式会社ABC      1   003  ...            1           3000   3000
16    株式会社ABC      1   003  ...            1           1000   1000
17    株式会社ABC      1   003  ...            1           4000   4000
18    株式会社ABC      1   003  ...            4           8000  32000
19    株式会社ABC      1   003  ...            1            800    800
20    株式会社ABC      1   003  ...            3            100    300
21      CDF商事     11   003  ...           20            120   2400
22      CDF商事     11   003  ...           45            160   7200
23      CDF商事     11   003  ...           50            120   6000
24      CDF商事     11   003  ...           35             80   2800
25      CDF商事     11   003  ...            1           3000   3000
26      CDF商事     11   003  ...           40             80   3200
27      CDF商事     11   003  ...            1           3000   3000
28      CDF商事     11   003  ...           60             80   4800
29      CDF商事     11   003  ...            1           4000   4000
30      CDF商事     11   003  ...           20             80   1600
31      CDF商事     11   003  ...            1           1000   1000

[32 rows x 12 columns]

In [ ]:
_df['金額'].sum()

154400

In [ ]:
companies = df['企業名'].unique()
companies

array(['STR Corp.', '株式会社ABC', 'CDF商事', 'TTT Inc.', 'XYZ株式会社', 'ICHIGO'],
      dtype=object)

In [ ]:
companies[0]

'STR Corp.'

In [ ]:
_df[_df['企業名'] == companies[0]]['金額'].sum()

55300

In [ ]:
_df[_df['企業名'] == companies[1]]['金額'].sum()

60100

In [ ]:
total_earnings = _df['金額'].sum()
total_earnings

154400

In [ ]:
pd.DataFrame({'担当者': member, '企業名': '全体', '金額': total_earnings}, index=[0])

  担当者 企業名      金額
0  桜田  全体  154400

In [ ]:
company = companies[0]
company

In [ ]:
earnings = _df[_df['企業名'] == company]['金額'].sum()
earnings

55300

In [ ]:
pd.DataFrame({'担当者': member, '金額': total_earnings}, index=[0])

  担当者      金額
0  桜田  154400

In [ ]:
pd.DataFrame({'企業名': company, '金額': total_earnings}, index=[1])

         企業名      金額
1  STR Corp.  154400

#辞書型オブジェクトの作成  dict クラスからの作成

In [ ]:
{'担当者': member, '企業名': '全体', '金額': total_earnings}

{'企業名': '全体', '担当者': '桜田', '金額': 154400}

In [ ]:
dict(担当者=member, 企業名='全体', 金額=total_earnings)

{'企業名': '全体', '担当者': '桜田', '金額': 154400}

In [ ]:
dict(企業名=company, 金額=earnings)

{'企業名': 'STR Corp.', '金額': 55300}

In [ ]:
member = members[0]
member

'桜田'

In [ ]:
total_res = []
for member in members:
#    member = members[0]
    _df = df[df['発行者'] == member]
    companies = df['企業名'].unique()

    total_earnings = _df['金額'].sum()
    total_res.append(dict(担当者=member, 企業名='全体', 金額=total_earnings))

    for company in companies:
        #company = companies[0]
        earnings = _df[_df['企業名'] == company]['金額'].sum()
        total_res.append(dict(企業名=company, 金額=earnings))

In [99]:
total_res

[{'企業名': '全体', '担当者': '桜田', '金額': 154400},
 {'企業名': 'STR Corp.', '金額': 55300},
 {'企業名': '株式会社ABC', '金額': 60100},
 {'企業名': 'CDF商事', '金額': 39000},
 {'企業名': 'TTT Inc.', '金額': 0},
 {'企業名': 'XYZ株式会社', '金額': 0},
 {'企業名': 'ICHIGO', '金額': 0},
 {'企業名': '全体', '担当者': '岸辺', '金額': 120300},
 {'企業名': 'STR Corp.', '金額': 0},
 {'企業名': '株式会社ABC', '金額': 0},
 {'企業名': 'CDF商事', '金額': 0},
 {'企業名': 'TTT Inc.', '金額': 89400},
 {'企業名': 'XYZ株式会社', '金額': 0},
 {'企業名': 'ICHIGO', '金額': 30900},
 {'企業名': '全体', '担当者': '山岡', '金額': 35800},
 {'企業名': 'STR Corp.', '金額': 0},
 {'企業名': '株式会社ABC', '金額': 0},
 {'企業名': 'CDF商事', '金額': 0},
 {'企業名': 'TTT Inc.', '金額': 0},
 {'企業名': 'XYZ株式会社', '金額': 35800},
 {'企業名': 'ICHIGO', '金額': 0}]

In [102]:
pd.DataFrame(total_res)

    担当者        企業名      金額
0    桜田         全体  154400
1   NaN  STR Corp.   55300
2   NaN    株式会社ABC   60100
3   NaN      CDF商事   39000
4   NaN   TTT Inc.       0
5   NaN    XYZ株式会社       0
6   NaN     ICHIGO       0
7    岸辺         全体  120300
8   NaN  STR Corp.       0
9   NaN    株式会社ABC       0
10  NaN      CDF商事       0
11  NaN   TTT Inc.   89400
12  NaN    XYZ株式会社       0
13  NaN     ICHIGO   30900
14   山岡         全体   35800
15  NaN  STR Corp.       0
16  NaN    株式会社ABC       0
17  NaN      CDF商事       0
18  NaN   TTT Inc.       0
19  NaN    XYZ株式会社   35800
20  NaN     ICHIGO       0

In [104]:
df_master = pd.read_excel('/content/ sources/商品情報マスタ.xlsx')

In [105]:
df_master

      商品コード     品名  単価[¥/L] or [¥]
0   GSL0001  レギュラー             120
1   GSL0002   ハイオク             160
2   GSL0003     軽油             100
3   GSL0004     灯油              80
4   CMT0001   洗車 A             500
5   CMT0002   洗車 B            1500
6   CMT0003   洗車 C            3000
7   CMT0004  オイル交換            1000
8   CMT0005  タイヤ交換            4000
9   GDS0001    タイヤ            8000
10  GDS0002    コロン             800
11  GDS0003   スナック             100

In [110]:
df_order = pd.read_excel('/content/ sources/注文表.xlsx')

In [111]:
df_order

           日付    商品コード  数量
0  2020-12-01  GSL0001  40
1  2020-12-02  GSL0002  50
2  2020-12-03  GSL0001  35
3  2020-12-15  GSL0004  60
4  2020-12-15  CMT0003   2
5  2020-12-18  GSL0004  15
6  2020-12-21  CMT0003   4
7  2020-12-22  GSL0004  22
8  2020-12-22  CMT0005   3
9  2020-12-25  GSL0004  32
10 2020-12-28  CMT0004   4

#vlookup の実装

In [114]:
df_merged = pd.merge(df_order, df_master, how='inner')
df_merged.head()

          日付    商品コード  数量     品名  単価[¥/L] or [¥]
0 2020-12-01  GSL0001  40  レギュラー             120
1 2020-12-03  GSL0001  35  レギュラー             120
2 2020-12-02  GSL0002  50   ハイオク             160
3 2020-12-15  GSL0004  60     灯油              80
4 2020-12-18  GSL0004  15     灯油              80

##合計金額の追加

In [115]:
df_merged['金額'] = df_merged['数量'] * df_merged['単価[¥/L] or [¥]']

In [116]:
df_merged

           日付    商品コード  数量     品名  単価[¥/L] or [¥]     金額
0  2020-12-01  GSL0001  40  レギュラー             120   4800
1  2020-12-03  GSL0001  35  レギュラー             120   4200
2  2020-12-02  GSL0002  50   ハイオク             160   8000
3  2020-12-15  GSL0004  60     灯油              80   4800
4  2020-12-18  GSL0004  15     灯油              80   1200
5  2020-12-22  GSL0004  22     灯油              80   1760
6  2020-12-25  GSL0004  32     灯油              80   2560
7  2020-12-15  CMT0003   2   洗車 C            3000   6000
8  2020-12-21  CMT0003   4   洗車 C            3000  12000
9  2020-12-22  CMT0005   3  タイヤ交換            4000  12000
10 2020-12-28  CMT0004   4  オイル交換            1000   4000

#ピボットテーブルの作成、実装

In [118]:
df = pd.read_excel('/content/output/all_data_02.xlsx')
df.head()

         企業名  企業コード  請求書No  ... 数量[L] or [-] 単価[¥/L] or [¥]    金額
0  STR Corp.      9      3  ...           20            120  2400
1  STR Corp.      9      3  ...           45            160  7200
2  STR Corp.      9      3  ...           20            120  2400
3  STR Corp.      9      3  ...           30             80  2400
4  STR Corp.      9      3  ...           20            120  2400

[5 rows x 12 columns]

In [119]:
import numpy as np

In [120]:
df.pivot_table(index=['企業名'], columns=['品名'], values='金額', aggfunc=np.sum)

品名          オイル交換     コロン    スナック      タイヤ  ...    洗車 B    洗車 C       灯油       軽油
企業名                                         ...
CDF商事      1000.0     NaN     NaN      NaN  ...     NaN  6000.0  12400.0      NaN
ICHIGO     1000.0  2400.0     NaN      NaN  ...  1500.0     NaN      NaN  10000.0
STR Corp.     NaN     NaN  1000.0  32000.0  ...  1500.0     NaN   2400.0      NaN
TTT Inc.   1000.0  2400.0     NaN      NaN  ...  1500.0     NaN      NaN  44500.0
XYZ株式会社       NaN     NaN     NaN      NaN  ...     NaN  6000.0   6800.0   5000.0
株式会社ABC    1000.0   800.0   300.0  32000.0  ...  1500.0  3000.0   2400.0   5000.0

[6 rows x 12 columns]

#グラフの作成　データ操作＝パンダスでOK グラフ＝openpyxl が必要

In [121]:
import openpyxl
from openpyxl.chart import BarChart, Reference

In [123]:
wb = openpyxl.load_workbook('/content/graphs/企業別当月売上表.xlsx')
sh = wb.active

In [124]:
sh

In [125]:
data = Reference(sh, min_col=3, max_col=3, min_row=1, max_row=sh.max_row)
labels = Reference(sh, min_col=2, max_col=2, min_row=2, max_row=sh.max_row)

In [126]:
chart = BarChart()

In [127]:
chart.type = 'col'
chart.style = 28
chart.title = '取引先企業別売上'
chart.y_axis.title = '売上額'
chart.x_axis.title = '取引先企業名'

In [128]:
chart.add_data(data,titles_from_data=True)
chart.set_categories(labels)

In [129]:
sh.add_chart(chart, 'E3')

In [130]:
wb.save('/content/graphs/企業別当月売上表.xlsx')

##横の棒グラフの作成

In [131]:
from copy import deepcopy

In [132]:
chart

<openpyxl.chart.bar_chart.BarChart object>
Parameters:
barDir='col', grouping='clustered', varyColors=None, ser=[<openpyxl.chart.series.Series object>
Parameters:
idx=0, order=0, tx=<openpyxl.chart.series.SeriesLabel object>
Parameters:
strRef=<openpyxl.chart.data_source.StrRef object>
Parameters:
f='Sheet1!C1', strCache=None, v=None, spPr=<openpyxl.chart.shapes.GraphicalProperties object>
Parameters:
bwMode=None, xfrm=None, prstGeom=None, noFill=False, solidFill=None, gradFill=None, pattFill=None, ln=<openpyxl.drawing.line.LineProperties object>
Parameters:
w=None, cap=None, cmpd=None, algn=None, noFill=False, solidFill=None, gradFill=None, pattFill=None, prstDash='solid', custDash=None, round=False, bevel=False, mitre=None, headEnd=None, tailEnd=None, scene3d=None, sp3d=None, invertIfNegative=None, pictureOptions=None, dPt=[], dLbls=None, trendline=None, errBars=None, cat=<openpyxl.chart.data_source.AxDataSource object>
Parameters:
multiLvlStrRef=None, numLit=None, numRef=<openpyxl.chart.data_source.NumRef object>
Parameters:
f='Sheet1!$B$2:$B$11', numCache=None, strLit=None, strRef=None, val=<openpyxl.chart.data_source.NumDataSource object>
Parameters:
numLit=None, numRef=<openpyxl.chart.data_source.NumRef object>
Parameters:
f='Sheet1!$C$2:$C$11', numCache=None, shape=None], dLbls=None, gapWidth=150.0, overlap=None, serLines=None, axId=[10, 100]

In [133]:
deepcopy(chart)

<openpyxl.chart.bar_chart.BarChart object>
Parameters:
barDir='col', grouping='clustered', varyColors=None, ser=[<openpyxl.chart.series.Series object>
Parameters:
idx=0, order=0, tx=<openpyxl.chart.series.SeriesLabel object>
Parameters:
strRef=<openpyxl.chart.data_source.StrRef object>
Parameters:
f='Sheet1!C1', strCache=None, v=None, spPr=<openpyxl.chart.shapes.GraphicalProperties object>
Parameters:
bwMode=None, xfrm=None, prstGeom=None, noFill=False, solidFill=None, gradFill=None, pattFill=None, ln=<openpyxl.drawing.line.LineProperties object>
Parameters:
w=None, cap=None, cmpd=None, algn=None, noFill=False, solidFill=None, gradFill=None, pattFill=None, prstDash='solid', custDash=None, round=False, bevel=False, mitre=None, headEnd=None, tailEnd=None, scene3d=None, sp3d=None, invertIfNegative=None, pictureOptions=None, dPt=[], dLbls=None, trendline=None, errBars=None, cat=<openpyxl.chart.data_source.AxDataSource object>
Parameters:
multiLvlStrRef=None, numLit=None, numRef=<openpyxl.chart.data_source.NumRef object>
Parameters:
f='Sheet1!$B$2:$B$11', numCache=None, strLit=None, strRef=None, val=<openpyxl.chart.data_source.NumDataSource object>
Parameters:
numLit=None, numRef=<openpyxl.chart.data_source.NumRef object>
Parameters:
f='Sheet1!$C$2:$C$11', numCache=None, shape=None], dLbls=None, gapWidth=150.0, overlap=None, serLines=None, axId=[10, 100]

In [136]:
chart2 = deepcopy(chart)

In [137]:
chart2.type = 'bar'

sh.add_chart(chart2, 'E15')
wb.save('/content/graphs/企業別当月売上表.xlsx')